.section.appcont{
    background-color: #EEEEEE;
}
.appcont .container{
display: flex;
align-items: center;
flex-direction: column;
}

.learn .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mar-t-10{
    margin-top: 20px;
}
.identite-m{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.identite-m div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.identite-m p{
    font-weight: 900;
    font-size: 20px;
}
.image_com{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.membres div{
    display: flex;
}
@media screen and(min-width:850px){
    .section.appcont img {
        width: 400px;
    }
}
@media (min-width:768px) and (max-width:850px){
    .image_com{
        width: 180px;
        height: 180px;
    }
    .section.appcont img {
        width: 350px;
    }
}
@media screen and (min-width:768px){
    .appcont.container{
        flex-direction: column;
    }
    .identite-m{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    .appcont img{
        display: flex;
        width: 400px;
    }
    
    .appcont .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .membres div{
        flex-wrap: wrap;
    }
}