*{
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color:#040124;
    height: 50px;
    padding: 0 90px;
}
.navgauche{
    display: flex;
    align-items: center;
}
.navgauche p{
    margin: 0 20px;
}
.logo{
    width: 50px;
}

.navdroite{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
}

.liennav, a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
.ligne{
    background-color: #fff;
    height: 2px;
}
section{
    padding:0 105px;
}
section h1{
    margin: 25px 0;
}
.cours{
    display: flex;
    justify-content: space-between;
}
.time{
    color: #d8d8d8d3;
}
.theme{
 color: #000;
 font-weight: 800;
 font-size: 20px;
}
.cours a img{
    width: 300px;
    height: 300px;
}
.cours a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0;
}
.img_cours:hover{
    transform: scale(1.15);
}
.abbonez{
    height: 300px;
    padding: 0 90px 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #eeeeee;
}
.abbonez_droite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150%;
    margin: 80px;
}
.abbonez_gauche{
    margin-right: 30px;
}
.mail{
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 70px;
    color: #000;
    border-radius: 10px;
}
.abonnement{
    background-color: #d72385;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px 0;
    height: 50px;
    border-radius: 10px;
}
footer{
    background-color:#0f2243;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 150px;
}